@{
    ViewData["Title"] = "About Page";
}

<div class="text-center">
    <h1 class="display-4">Om denna sida</h1>
    <p>Denna sida är skapad av Petter Hersinger och kostar väldigt mycket att använda....</p>
    <p>Copyright: @ViewData["CurrentDate"]</p>
</div>
